@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800&display=swap');

*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Mulish', sans-serif;
}

* {
  border: 1px solid black;
}

h2 {
  font-weight: 800;
}

main {
  height: 100%;
  padding-top: 40px;
}


@media (min-width: 1100px) {
  main {
    width: 70%;
    margin: auto;
  }
}

nav {
  background-color: black;
  color: white;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
}

ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

li > a {
  color: inherit;
  text-decoration: none;
}

#dropdown {
  display: none;
}

.grid {
  display: grid;
}

/* #1F2947 */

#about {
  grid-template-columns: auto 1fr;
}

#pic-container {
  display: flex;
  justify-content: center;
  padding: 20px;
}

section {
  padding: 10px;
}

#profile-pic {
  width: 250px;
}

#projects {
  padding: 10px;
}

#project-grid {
  gap: 40px;
  padding: 20px 10px;
}

.project-item {
  grid-template-columns: 200px 1fr;
}

.project-pic {
  width: 100%;
}

.project-details {
  display: flex;
  flex-direction: column;
}

.project-desc {
  flex: 1;
}

.project-links {
  margin-top: auto;
}

#contact {
  padding: 10px;
}

@media (max-width: 1100px) {
  #profile-pic {
    width: 200px;
  }
}

@media (max-width: 800px) {
  #profile-pic {
    width: 180px;
  }
  #about {
    display: flex;
    flex-direction: column;
  }

  .project-item {
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr;
  }

  .project-pic {
    height: 100%;
  }
}

@media (max-width: 400px) {
  #profile-pic {
    width: 110px;
  }

  main {
    padding: 0;
  }

  nav {
    display: none;
  }

  #dropdown {
    display: flex;
    align-items: end;
    flex-direction: column;
    padding: 10px;
    position: relative;
  }

  #dropdown:hover {
    cursor: pointer;
  }

  .dropdown-content {
    display: none;
  }
  
  .show {
    display: block;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    position: absolute;
    right: 10px;
    background-color: black;
    color: white;
  }
}



